<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UXF Audit</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .hidden {
            display: none;
        }
    </style>
    {{- /* gotype: github.com/janatjak/cmsaudit.Template*/ -}}
</head>
<body>

<div class="container-fluid" style="margin-top: 50px">
    <table class="table table-bordered">
        <tr class="text-center">
            <th colspan="3">
                <button
                    onclick="document.querySelectorAll('.js-full').forEach(e => e.classList.toggle('hidden'))"
                    class="btn btn-outline-primary btn-sm"
                >
                    full
                </button>
            </th>
            <th></th>
            <th colspan="3">API</th>
            <th colspan="3">Web</th>
            <th colspan="{{ len .WebPackages }}" class="js-full hidden"></th>
            <th colspan="3">Admin</th>
            <th colspan="{{ len .WebPackages }}" class="js-full hidden"></th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Gitlab URL</th>
            <th>Web URL</th>
            <th>Server</th>
            <!-- api -->
            <th>
                PHP<br>
                <img src="https://img.shields.io/github/v/tag/php/php-src?sort=semver&filter=!*RC*" style="height:16px">
            </th>
            <th>
                Symfony<br>
                <img src="https://img.shields.io/packagist/v/symfony/framework-bundle" style="height:16px">
            </th>
            <th>
                CMS<br>
                <img src="https://img.shields.io/packagist/v/uxf/cms" style="height:16px">
            </th>
            <!-- web -->
            <th>
                Node<br>
                <img src="https://img.shields.io/github/v/tag/nodejs/node" style="height:16px">
            </th>
            <th>
                NextJS<br>
                <img src="https://img.shields.io/npm/v/next" style="height:16px">
            </th>
            <th>
                UI<br>
                <img src="https://img.shields.io/npm/v/@uxf/ui" style="height:16px">
            </th>
            {{ range $item := .WebPackages }}
                <th class="js-full hidden">
                    <span style="font-size: 10px">{{ $item }}</span><br>
                    <img src="https://img.shields.io/npm/v/{{ $item }}" style="height:16px">
                </th>
            {{ end }}
            <!-- admin -->
            <th>
                Node<br>
                <img src="https://img.shields.io/github/v/tag/nodejs/node" style="height:16px">
            </th>
            <th>
                NextJS<br>
                <img src="https://img.shields.io/npm/v/next" style="height:16px">
            </th>
            <th>
                UI<br>
                <img src="https://img.shields.io/npm/v/@uxf/ui" style="height:16px">
            </th>
            {{ range $item := .WebPackages }}
                <th class="js-full hidden">
                    <span style="font-size: 10px">{{ $item }}</span><br>
                    <img src="https://img.shields.io/npm/v/{{ $item }}" style="height:16px">
                </th>
            {{ end }}
        </tr>

        {{ $webPackages := .WebPackages }}
        {{ range .Projects }}
            <tr>
                <td>{{ .Name }}</td>
                <td><a href="{{ .GitlabUrl }}" target="_blank">link</a></td>
                <td><a href="{{ .WebUrl }}" target="_blank">{{ .WebUrl }}</a></td>
                {{ if .Api }}
                    {{ $packages := (index .Api.Packages 0).Versions }}
                    <td>{{ .Api.Server }}</td>
                    <td>{{ .Api.Php }}</td>
                    <td>{{ (index $packages "symfony/framework-bundle").Version }}</td>
                    <td>{{ (index $packages "uxf/cms").Version }}</td>
                {{ else }}
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                {{ end }}
                {{ if .Web }}
                    <td>{{ .Web.Node }}</td>
                    <td>{{ .Web.Next }}</td>
                    <td>{{ (index .Web.Packages "@uxf/ui").Version }}</td>
                    {{ $packages := .Web.Packages }}
                    {{ range $item := $webPackages }}
                        <td class="js-full hidden">{{ (index $packages $item).Version }}</td>
                    {{ end }}
                {{ else }}
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                    {{ range $item := $webPackages }}
                        <td class="js-full hidden">?</td>
                    {{ end }}
                {{ end }}
                {{ if .Admin }}
                    <td>{{ .Admin.Node }}</td>
                    <td>{{ .Admin.Next }}</td>
                    <td>{{ (index .Admin.Packages "@uxf/ui").Version }}</td>
                    {{ $packages := .Admin.Packages }}
                    {{ range $item := $webPackages }}
                        <td class="js-full hidden">{{ (index $packages $item).Version }}</td>
                    {{ end }}
                {{ else }}
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                    {{ range $item := $webPackages }}
                        <td class="js-full hidden">?</td>
                    {{ end }}
                {{ end }}
            </tr>
        {{ end }}
    </table>
</div>

</body>
</html>

